{% extends "layout.html" %}

{% block title %}
History
{% endblock %}

{% block main %}
<table class="table table-striped">
  <thead>
    <tr>
      <th class="text-start">Symbol</th>
      <th class="text-end">Shares</th>
      <th class="text-end">Price</th>
      <th class="text-end">Transacted</th>
    </tr>
  </thead>
  <tbody>
    {% for row in rows %}
    <tr>
      <td class="text-start">{{ row.symbol }}</td>
      <td class="text-end">
        {{ '-' if row.type == 'S' else '' }}{{ row.shares }}
      </td>
      <td class="text-end">{{ row.price | usd }}</td>
      <td class="text-end">{{ row.timestamp | datetime }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}